.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container h1{
  text-align: center;
  margin-bottom: 12px;
  cursor: default;
}

.header-container img {
  width: 15px;
  height: 15px;
  margin-top: 16px;
}